.top-voted-topics {
    width: 100%;
    overflow-x: hidden;

    .top-voted-topics-list {
        overflow-x: auto;
        padding: 10px;
        row-gap: 10px;

        .top-voted-topic {
            box-sizing: border-box;
            min-width: 85%;
        }
    }
    .circle-indicators {
        display: flex;
    }
}

